/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.correct {
  width: 80px;
  height: 80px;
  background: transparent url(img/correct.png) no-repeat center;
  background-size: 80px 80px;
  position: absolute;
  top: -11px;
}
.wrong {
  width: 80px;
  height: 80px;
  background: transparent url(img/wrong.png) no-repeat center;
  background-size: 80px 80px;
  position: absolute;
  top: -11px;
}
.inline {
  display: inline !important;
}
.tabFont {
  font-size: 20px;
}
.w80 {
  width: 80px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.width140 {
  width: 1400px !important;
}